@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?p7vmqn');
  src:  url('fonts/icomoon.eot?p7vmqn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?p7vmqn') format('truetype'),
    url('fonts/icomoon.woff?p7vmqn') format('woff'),
    url('fonts/icomoon.svg?p7vmqn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-home-automation:before {
  content: "\e90c";
}
.icon-youtube:before {
  content: "\e906";
}
.icon-instagram:before {
  content: "\e907";
}
.icon-facebook:before {
  content: "\e908";
}
.icon-vernier-caliper_1:before {
  content: "\e909";
}
.icon-pliers:before {
  content: "\e90a";
}
.icon-rj45:before {
  content: "\e90b";
}
.icon-whatsapp:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e90d";
}
.icon-map-pin:before {
  content: "\e901";
}
.icon-menu:before {
  content: "\e902";
}
.icon-phone:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e905";
}
